body{
    display: grid;
    background-color: black;
    color: white;
}

#heading-container{
    height: 30vh;
}

#movies-container {
    background-color: black;
    height: 70vh;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-items: center;
   justify-content: center;
   overflow: scroll;

}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.movie-card {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    color: white;
}
